.container {
    width: 800px;
    margin: 150px auto auto;
    background: white;
    color: #262626;
    border-radius: 10px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h2 {
    font-size: 27px;
    font-weight: 400;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button {
    background-image: linear-gradient(rgba(102, 236, 225, 0.5), rgba(151, 109, 251, 0.5));;
    color: #fff;
    font-size: 25px;
    border-radius: 8px;
    width: 250px;
    height: 65px;
    cursor: pointer;
    margin: auto;
}
.index {
    font-size: 18px;
    margin: auto;
}